*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.container {
padding: 16px;
background-color: white;
}
input[type=email], input[type=password]{
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}
input[type=text]:focus, input[type=pasword]:focus{
background-color: violet;
outline: none;
}
.Loginbtn {
    background-color: chartreuse;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.Loginbtn:hover {
    opacity: 1;
}
a {
    color: green;
}
.signin {
    text-align: center;
    background-color: whitesmoke;
}
